<section id="contact">
  <div class="section-text">
    <p class="section__text__p1">Get in Touch</p>
    <h1 class="title">Contact Me</h1>
  </div>
  <div class="contact-info-upper-container">
    <div class="contact-info-container">
      <p><i class="bi bi-envelope-at"></i><a href="mailto:udhayavananr@gmail.com">Udhayavananr@gmail.com</a></p>
    </div>
    <div class="contact-info-container">
      <p><i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/in/udhayavanan-r-a620701bb">LinkedIn</a></p>
    </div>
  </div>
</section>
