<!-- experience.component.html -->

<section id="experience">
  <div class="section-text">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">Experience</h1>
  </div>
  <div class="experience-details-container">
    <div class="about-containers">
      <div class="details-container">
        <table class="article-container">
          <tr>
            <td colspan="2" class="table-title">Frontend Development</td>
          </tr>
          <tr>
            <td>
              <article>
                <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h5>HTML</h5>
                  <p>Experienced</p>
                </div>
              </article>
            </td>
            <td>
              <article>
                <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h5>CSS</h5>
                  <p>Experienced</p>
                </div>
              </article>
            </td>
          </tr>
          <tr>
            <td>
              <article>
                <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h5>JavaScript</h5>
                  <p>Basic</p>
                </div>
              </article>
            </td>
            <td>
              <article>
                <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h5>TypeScript</h5>
                  <p>Basic</p>
                </div>
              </article>
            </td>
          </tr>
          <tr>
            <td>
              <article>
                <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h5>Angular</h5>
                  <p>Basic</p>
                </div>
              </article>
            </td>
            <td></td> <!-- Empty cell for alignment -->
          </tr>
        </table>
      </div>
      <div class="details-container">
        <table class="article-container">
          <tr>
            <td colspan="2" class="table-title">Backend Development</td>
          </tr>
          <tr>
            <td>
              <article>
                <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h5>Core Java</h5>
                  <p>Experienced</p>
                </div>
              </article>
            </td>
            <td>
              <article>
                <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h5>J2EE</h5>
                  <p>Basic</p>
                </div>
              </article>
            </td>
          </tr>
          <tr>
            <td>
              <article>
                <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h5>MySQL</h5>
                  <p>Experienced</p>
                </div>
              </article>
            </td>
            <td>
              <article>
                <img src="./assets/checkmark.png" alt="Experience icon" class="icon" />
                <div>
                  <h5>Git</h5>
                  <p>Intermediate</p>
                </div>
              </article>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="internship-conrainer">
      <p class="internship-title">Internship</p>
        <p>During my journey as a Software Development Engineer Intern at Freight Deck in Bangalore from April to August 2022, I had the invaluable opportunity to immerse myself in the world of software development. This five-month internship not only honed my technical skills but also provided me with a comprehensive understanding of tailoring products to meet client needs.</p>
        <p>My experience extended beyond the technical realm, allowing me to actively participate in collaborative team efforts. Working closely with my colleagues, I gained insights into effective teamwork and communication—essential elements that I am excited to carry forward into my future career development.</p>      
    </div>
  </div>
</section>
