<section id="about">
    <p class="section text p1">Get to Know More</p>
    <h1 class="title">About Me</h1>
    <div class="section-container">
    </div>
    <div class="about-content">
      <img src=".\assets\udhaya_suit.png"alt="Your Name" />
  
      <p>Hello, I'm <strong>Udhayavanan R</strong>, a graduate with a Bachelor's degree in Computer Science. My journey into the world of technology began with a passion for solving real-world problems through innovative solutions.</p>
  
      <h2>Education</h2>
      <ul>
        <li><strong>Bachelor of Engineering in Computer Science</strong></li>
        <li>Rajalakshmi Institute of technology, 2022</li>
      </ul>
  
      <h2>Internship Experience</h2>
      <p>I had the opportunity to embark on a five-month Software Development Engineer internship, where I immersed myself in the dynamic world of the MERN (MongoDB, Express.js, React, Node.js) stack. During this experience, I honed my skills in building robust and scalable web applications.</p>
  
      <h2>What Drives Me</h2>
      <p>I am driven by a constant curiosity to explore emerging technologies and a deep-rooted commitment to contributing meaningfully to the tech community. My goal is to leverage my skills to create efficient and user-centric solutions.</p>
  
      <p>Feel free to reach out if you share a passion for technology, innovation, and creating impactful software solutions. Let's connect and explore the endless possibilities in the world of software development!</p>
    </div>
  </section>