<section id="profile">
    <div class="section__pic-container">
      <img src="./assets/udhaya-boat.jpg" alt="udhaya profile picture" />
    </div>
    <div class="section__text">
      <p class="section__text__p1">Hello, I'm</p>
      <h1 class="title">Udhayavanan R</h1>
      <p class="section__text__p2">Java FullStack Developer</p>
      <div class="btn-container">
        <button class="btn btn-color-2" onclick="window.open('./assets/Udhayavanan_Resume.pdf')">Download CV </button>
        <button class="btn btn-color-1" (click)="navigateToContact()">Contact Info</button>
      </div>
      <div id="socials-container">
        <img src="./assets/linkedin.png" alt="My LinkedIn profile" class="icon" onclick="location.href='https://www.linkedin.com/in/udhayavanan-r-a620701bb'"/>
        <img src="./assets/github.png" alt="My Github profile" class="icon" onclick="location.href='https://github.com/udhaya44'"/>        
      </div>
    </div>
  </section>